:root {
    /* Black and white */
    --soft-black: hsl(0, 0%, 10%);
    --black-blue: hsl(240, 90%, 4%);
    --gray-blue: hsl(213, 12%, 30%);
    --light-gray-blue: hsl(220, 16%, 96%);
    --light-gray: hsl(0, 0%, 67%);
    --lighter-gray: hsl(0, 0%, 90%);
    --very-light-gray: hsl(0, 0%, 98%);

    /* Red */
    --red: hsl(357, 94%, 46%);
    --red-orange: hsl(12, 89%, 51%);
    --red-orange2: hsl(12, 80%, 60%);
}